.todo-card {
  max-width: 500px;
}

.todo-buttons {
  position: absolute;
  top: 14px;
  right: 45px;
  z-index: 9999;
}

.todo-buttons.sub {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 9999;
}

.todo-buttons * {
  cursor: pointer;
  padding: 0 5px;
  opacity: 0.4;
}

.todo-buttons *:hover {
  opacity: 0.8;
}
